<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/estilos/estilos.css">
    <link rel="icon" href="../assets/images/mando.png">
</head>
<body>
    <header>
        <h1><span>LET'S PLAY TOGETHER</span> <br> <img src="../assets/images/mando.png" alt="logo" class="logo"></h1>
        <button class="menu-toggle" onclick="toggleMenu()">Menú</button>
        <nav>
            <div class="list">
                <a href="../index.html">INICIO</a>
            </div>
            <div class="list">
                <a href="./contacto.html">CONTACTO</a>
            </div>
            <div id="color_list" class="list">
                <a href="#">GALERÍA</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="gallery">
            <div>
            <h2 class="title">JUEGOS EXCLUSIVOS</h2>
            <ol>
                <li class="console">
                    <h3 class="image-title">PLAYSTATION</h3>
                    <div class="console-images">
                    <img src="../assets/images/god-of-war-1---button-1546990917232.jpg" alt="" class="image">
                    <img src="../assets/images/uncharted-4-button-v2jpg-5a448e.jpg" alt="" class="image">
                    <img src="../assets/images/the-last-of-us-part-1_j1ge.1200.webp" alt="" class="image">
                    </div>
                </li>
                <li class="console">
                    <h3 class="image-title">XBOX</h3>
                    <div class="console-images">
                    <img src="../assets/images/hellblade-II.jpg" alt="" class="image">
                    <img src="../assets/images/halo.jpeg" alt="" class="image">
                    <img src="../assets/images/starfield-ign-sq-1643334195275.jpg" alt="" class="image">
                    </div>
                </li>
                <li class="console">
                    <h3 class="image-title">NINTENDO</h3>
                    <div class="console-images">
                    <img src="../assets/images/A-Link-Between-Worlds-Box-Art.jpg" alt="" class="image">
                    <img src="../assets/images/mario.jpeg" alt="" class="image">
                    <img src="../assets/images/mario3.jpg" alt="" class="image">
                    </div>
                </li>
            </ol>
            </div>
        </section>
    </main>
    <footer>
        <div class="aviso">© 2024 SEEA | Aviso Legal | Política de Privacidad | Política de Cookies</div>
            <span class="bold">Ubicado en:</span>
            <div class="direccion">Estadio Santiago Bernabéu</div>
            <div>
                <span class="bold">Email:</span>
                <a class="datos" href="mailto:joshua03@yopmail.com">Joshua03@yopmail.com</a>
            </div>
            <div>
                <span class="bold">Teléfono:</span>
                <a class="datos" href="tel:012345666">012345666</a>
            </div>
            <div class="comentario">Puedes seguirnos en nuestras redes :3</div>
            <a href="https://www.facebook.com/PlayStationES"><img class="redSocial" src="../assets/images/instagram-logo.png" alt="instagram"></a>
            <a href="https://www.instagram.com/playstation/"><img class="redSocial" src="../assets/images/Facebook-PNG-HD.png" alt="Facebook"></a>
    </footer>
    <script src="../script/mobile.js"></script>
</body>
</html>